/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto Mono", monospace;
    background: rgb(207, 231, 220);
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb (85, 85, 85);
}

/* TRANSITION */
a, .btn {
    transition: all 300ms ease;
}

/* DESKTOP NAV */

nav, .nav-links {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1000;
    background:rgba(247, 243, 173)
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}

.nav-logo {
    height: 6vh;
    justify-content:center;
    
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-size: 1.25rem;
}

.nav-container {
    padding: 0.7rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    flex: 1;
    background: rgb(255, 252, 213);
    border-radius: 2rem;
    text-align: center;
}

.nav-container.open {
    opacity: 1;
}

.nav-container.close {
    opacity: 0;
}


a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: grey;
    /*
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: rgb(181, 181, 181);
    */
}

.logo {
    font-size: 2rem;
    align-items: center;
    height: 9vh;
}

.logo-text {
    font-size: 1.75rem;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

.logo:hover {
    cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    width: fit-content;
    background: rgb(255, 252, 213);
    border-radius: 2rem;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:nth-child(2) {
    opacity: 1;
}

.hamburger-icon span:last-child {
    transform: none;
}

/* SECTIONS */

.header-section {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.sub-header-section {
    display: flex;
    margin-left: 1.75rem;
}

.title-logo {
    height: 7vh;
    padding-left: 1.25vh;
}

.sub-header-logo {
    height: 5vh;
    padding-right: 1.25vh;
    margin-bottom: auto;
    margin-top: auto;
}

section {
    padding-top: 4vh;
    height: 96vh;
    margin: auto;
    box-sizing: border-box;
    min-height: fit-content;
    max-width: 1000px;
}

.section-container {
    display: flex;
}

/* PROFILE SECTION */

#profile {
    display: flex;
    justify-content: center;
    gap: 4rem;
    height: 87vh;
    padding-right: 5rem;
}

.section__pic-container {
    display: flex;
    margin: auto 0;
    height: 500px;
    width: 400px;
}

.section__pic-container__2 {
    display: flex;
    margin: auto 0;
    margin-top: 4rem;
    height: 450px;
    width: 450px;
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 600;
}

.section__text__p1 {
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 0.75rem;
}

.section__text__p2 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: rgb(80, 80, 80);
}

.section__text__p3 {
    font-size: 1.1rem;
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
    margin-left: 1.75rem;
    color: rgb(80, 80, 80);
}

.title {
    font-size: 2.5rem;
    text-align: center;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    margin-top: 1.1rem;
    margin-bottom: 1rem;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 2rem;
    background: rgb(231, 245, 238);
    border-radius: 2rem;
    padding: 0.5rem;
    font-size: 0.9rem;
}

/* ICONS */

.icon {
    cursor: pointer;
    height: 3.5rem;
}

.icon:hover {
    transform: scale(1.1);
}

/* ABOUT SECTION */
#about {
    position: relative;
    font-size: 1.1rem;
    height: 85vh;
}

.about-containers {
    gap: 2rem;
    margin-top: 2rem;
}

.about-details-container {
    justify-content: center;
    flex-direction: column;
    margin-left: 2rem;
}

.about-containers,
.about-details-container {
    display: flex;
}

.about-pic {
    border-radius: 2rem;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    text-align: center;
}

.section-container {
    gap: 4rem;
    height: 80%;
}

/* EXPERIENCE SECTION */

#experience {
    position: relative;
    height: 105vh;
}

.experience-sub-title {
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: auto;
    margin-top: auto;
}

.experience-details-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 1rem;
}

.experience-paragraph {
    margin-bottom: 0.3rem;
    margin-left: 5rem;
    margin-right: 2rem;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
    margin-bottom: 2.5rem;
}

.article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article .icon {
    cursor: default;
}

/* PROJECTS SECTION */

#projects {
    position: relative;
    height: 145vh;
}

.color-container {
    background: rgb(231, 245, 238);
}

.project-img {
    border-radius: 2rem;
    width: 90%;
    height: 90%;
}

.project-title {
    margin-bottom: 1rem;
    color: black;
}

.project-btn {
    color: black;
    border-color: rgb(163, 163, 163);
}

/* FOOTER */
footer p {
    text-align: center;
}

/* CAROUSEL */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 900px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.caption-text {
  color: #f2f2f2;
  font-size: 22px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #0000007a;
}

.mySlides:hover .overlay, .overlay-content{
  opacity: 1;
}

.text {
  color: white;
  background:rgba(0, 0, 0, 0);
  font-size: 18px;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.card-header {
    display: flex;
    gap: 3rem;
    text-align: center;
    justify-content: center;
}

.card-header-overlay {
    display: flex;
    gap: 3rem;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 80%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.project-container {
    height: 18vh;
}

.project-description {
    height: 16vh;
    margin-bottom: 0.75rem;
}

.slideshow-project {
    display: none;
}

.dot-container {
    text-align: center;
    margin: 1rem;
}